# Testing Results
## Test for Intended Outcomes
* Test buttons for intended action
    * Test redirects by clicking on all redirects and recording if it leads to the correct page
      * Result:
    * Test cart button by clicking on cart button and record if it opens as intended
      * Result:
    * Test product information by clicking on info button for each product and record what page it leads to
      * Result:
    * Test payment button
      * Complete a test order noting whether or not the webpage acts as intended after pressing the buttom
        * Result:
      * Check if the payment info was encrypted after pressing the button
        * Result:
* Test cart functionality by adding item(s) to the cart then recording which items appear in the cart
    * Result:
* Test cart continuity by adding items to cart, then recording items added to the cart after changing pages
    * Result:
* Check each product listing and note whether the information connected to it matches the intended information
    * Result:
## Test for Security Vulnerabilities
* Test encruption and decryption
  * Record information entered before completing a payment
    * Result:
  * Record the encrypted version of the payment information, and whether it matches the original information once decrypted
    * Result:
* Test for input vulnerability
  * Test payment system input validation
    * Test by inputting forbidden characters then recording the result
      * Result:
    * Test by entering too few characters then recording the result
      * Result:
    * Test by entering too many characters then recording the result
      * Result:
  * Test shopping cart
    * Submit a large number of multiple types of items to the cart
      * Record whether or not it broke any website elements or if the cart did not work as intended, and at which point they broke
        * Result: 
